@import '_vars';
  .home-1-edit{
    .banner-top-left{
        padding-right: 7.5px;
    }
    .banner-top-right{
        padding-left: 7.5px;
    }
    .carouselTop{
        ._topSlider{
            .carousel-item{
                .carousel-caption{
                    position: absolute;
                    right: 15%;
                    bottom: 20px;
                    left: 5%;
                    z-index: 10;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    color: $f;
                    text-align: center;
                    top: 50px;
                    width: 270px;
                    text-align: $textAlign;
                    overflow: hidden;
                    &.rightCaption{
                        left: 60%;
                        width: 250px;
                    }
                }
                &.c2{
                    .carousel-caption{
                        left: 60% !important;
                        @media screen and(max-width: $maxMobile) {
                            left: 50% !important;
                        }
                    }
                }
                @media screen and (max-width: $maxMobile) {
                    .carousel-caption{
                        top: 20px;
                        width: 150px;
                    }
                }
            }
        }
    }
    
}

// .flashSale{
    .product-buttons {
        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            color: #fff;
            display: none;
            line-height: 1;
            margin: 0;
            i {
                margin-right: 0 !important;
                font-size: 15px;
            }
        }
        .addToWishlist,
        .add-to-cart,
        .quick-view{
            background: #313131;
            background-color: rgb(49, 49, 49);
            -webkit-transition: all linear 0.1s;
            -moz-transition: all linear 0.1s;
            -ms-transition: all linear 0.1s;
            -o-transition: all linear 0.1s;
            transition: all linear 0.1s;
            text-align: center;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            position: relative;
            color: #fff;
            &:not(:last-of-type){
                margin-right: 5px;
            }
        }
        .addToWishlist,
        .add-to-cart,
        .quick-view {
            width: 38px;
            height: 38px;
            line-height: 38px;
        }
        .addToWishlist,
        .add-to-cart,
        .quick-view {
            border-radius: 3px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none;
            background-color: #f0f0f0;
            color: #727272;
            span {
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
                margin-left: 5px;
                vertical-align: middle;
                line-height: initial;
            }
            &.has-text i{
                &:not(.icon-cart){
                    margin-right: 7px;
                    font-size: 1.5rem;
                }
            }
            .icon-cart{
                display: inline-block;
                width: 10px;
                height: 12px;
                background-position: -142px 0;
                background-repeat: no-repeat;
                vertical-align: middle;
                
            }
            
        }
        .add-to-cart,
        .addToWishlist,
        .quick-view{
            &:hover{
                color: $f;
                background-color: $WebGrn;
            }
        }
    }
// .item{
    .title-seller {
        width: 100%;
        min-height: 45px;
        border-top: 1px solid $liBorder;
        padding-left: 20px;
        font-size: .8rem;
        a{
            &:hover{
                span{
                    color: $Grn;
                }
                text-decoration: none !important;
            }
        }
        span{
            margin-left: 0;
            margin-right: auto;
            color: #afafaf;
            font-weight: 700;
            font-family: Oxy;
            text-transform: capitalize;
            i{
                font-size: 16px;
                color: $WebGrn;
                padding-right: 6px;
                margin-bottom: 5px;
            }
        }
    }
// }

 