@import '_vars';
  .home-1-edit{
    .banner-top-left{
        padding-right: 7.5px;
    }
    .banner-top-right{
        @media screen and(min-width: $maxMobile) {
            padding-left: 7.5px;
        }
    }
    .carouselTop{
        ._topSlider{
            .carousel-item{
                .carousel-caption{
                    position: absolute;
                    right: 15%;
                    bottom: 20px;
                    left: 5%;
                    z-index: 10;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    color: $f;
                    text-align: center;
                    top: 50px;
                    width: 270px;
                    text-align: $textAlign;
                    overflow: hidden;
                    &.rightCaption{
                        left: 60%;
                        width: 250px;
                    }
                }
                &.c2{
                    .carousel-caption{
                        left: 60% !important;
                        @media screen and(max-width: $maxMobile) {
                            left: 50% !important;
                        }
                    }
                }
                @media screen and (max-width: $maxMobile) {
                    .carousel-caption{
                        top: 20px;
                        width: 150px;
                    }
                }
            }
        }
    }
    .custom_heading h2 {
        background-color: #105caa;
        text-transform: capitalize;
        height: 59px;
        line-height: 59px;
        padding-left: 20px;
    }
    .flashSale {
        .slick-container {
            > div {
                >span{
                    display: none;
                }
            }
    
            @media screen and(min-width:$maxMobile) {
                .owl-dots{
                    display: none !important;
                }
            }
            
        }
    }
    .group_image_text{
        overflow: hidden;
        .item{
            overflow: hidden;
            span {
                width: 100%;
            }
            img{
                @include transition(.5,linear);
                width: 100%;
            }
        }
        .block_content a {
            font-size: 1.1rem;
            font-weight: 700;
            color: #666;
            bottom: 20px;
            text-align: center;
            width: 100%;
            left: 0;
        }
    }
    .slick-dots{
        bottom: 5%;
        li{
            button{
                &::before{
                    font-size: 18px;
                    color: $f;
                    opacity: .5;
                }
            }
            &.slick-active{
                button{
                    &::before{
                        opacity: 1;
                        color: $HeaderBar_with_Op;
                    }
                }
            }
        }
    }
    .tab-content{
        position: relative;
        // margin-top: 40px;
        overflow: hidden;
        display: block;
    }
    
    .nov-category-product{
        .category-banner{
            > .col-md-4{
                padding-left: 7.5px;
                padding-right: 7.5px;
            }
        }
        .banner1 {
            position: relative;
            cursor: pointer;
        }
    }

    .nov-category-productlist {
        overflow: hidden;
        margin-left: -5px;
        margin-right: -5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #recom-content{
        .two-image img{
            height: 185px !important;
        }
        @media screen and(max-width: $minIpad10Pro) {
            .product-comment{
                font-size: 0.67rem !important;
                > span{
                    top: 8px;
                }
                .star{
                    &::after{
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .block-list{
        ul {
            margin-bottom: 10px;
            border-bottom: 1px solid #eaeaea;
            padding-left: 0;
            list-style: none;
            overflow: hidden;
                overflow-x: hidden;
            overflow-x: auto;
            li {
                line-height: 50px;
                padding-right: 40px;
                a {
                    text-transform: capitalize;
                    color: #666;
                    font-size: 12px;
                    font-weight: 500;
                    @include f-F(OxyB);
                    &:hover{
                        color: $WebGrn;
                    }
                }
            }
        }
    }
    .our-Blog {
        .owl-item{
            @media screen and(max-width: $minIpad){
                width: 340px !important;
            }
        }
    }
    .contactform {
        border: 10px solid $liBorder;
        padding: 40px 60px 30px 60px;

        @media screen and(max-width: $maxMobile){
            padding: 20px 20px 0 20px;
        }
    }
    .text-content {
        font-size: 13px;
        background: #f5f5f5;
        padding: 40px 40px 20px 40px;
        border: 1px solid #eaeaea;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        text-align: $textAlign;
        @include BShadow(5px 5px 5px -2px #cacaca);

        h2{
            color: #292b2c;
            font-weight: 900;
            font-size: 12px;
            font-family: PopB;
            margin-bottom: 0;
            line-height: 22px;
            margin-bottom: 20px;
        }
        ul{
            padding: 15px 0 15px 15px;
            list-style: circle !important;
            list-style-type: circle !important;
            li {
                color: #666;
                line-height: 26px;
            }
        }
        .content-hidden{
            display: none;
        }
        .text {
            color: #666;
            line-height: 20px;
            padding-top: 19px;
            padding-bottom: 16px;
        }
        .text2 {
            color: #666;
            line-height: 20px;
            padding-bottom: 16px;
        }
        .text-content2 {
            padding-bottom: 20px;
            &:not(.show) {
                background: -webkit-linear-gradient(top,#c3c3c3 0%,#efefef 100%);
                    background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-transition: all 3s ease;
                -moz-transition: all 3s ease;
                -ms-transition: all 3s ease;
                -o-transition: all 3s ease;
                transition: all 3s ease;
            }
        }
        .show-more{
            color: $WebGrn;
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            font-family: OxyB;
            &::before{
                content: "";
            }
        }
    }

    .title-category{
        .text-block {
            @include f-F(PopB);
            @include fontSize(1.2);
            color: #292b2c;
            font-weight: 700;
            margin-right: 20px;
            padding-right: 20px;
            border-right: 1px solid $liBorder;
            text-transform: uppercase;
            line-height: 17px;
        }
        .sub_title {
            font-size: 10px;
            color: #bbb;
            text-transform: uppercase;
        }
    }
    
}

// .flashSale{
    .product-buttons {
        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            color: #fff;
            display: none;
            line-height: 1;
            margin: 0;
            i {
                margin-right: 0 !important;
                font-size: 15px;
            }
        }
        .addToWishlist,
        .add-to-cart,
        .quick-view{
            background: #313131;
            background-color: rgb(49, 49, 49);
            -webkit-transition: all linear 0.1s;
            -moz-transition: all linear 0.1s;
            -ms-transition: all linear 0.1s;
            -o-transition: all linear 0.1s;
            transition: all linear 0.1s;
            text-align: center;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            position: relative;
            color: #fff;
            &:not(:last-of-type){
                margin-right: 5px;
            }
        }
        .addToWishlist,
        .add-to-cart,
        .quick-view {
            width: 38px;
            height: 38px;
            line-height: 38px;
        }
        .addToWishlist,
        .add-to-cart,
        .quick-view {
            border-radius: 3px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none;
            background-color: #f0f0f0;
            color: #727272;
            span {
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
                margin-left: 5px;
                vertical-align: middle;
                line-height: initial;
            }
            &.has-text i{
                &:not(.icon-cart){
                    margin-right: 7px;
                    font-size: 1.5rem;
                }
            }
            .icon-cart{
                display: inline-block;
                width: 10px;
                height: 12px;
                background-position: -142px 0;
                background-repeat: no-repeat;
                vertical-align: middle;
                
            }
            
        }
        .add-to-cart,
        .addToWishlist,
        .quick-view{
            &:hover{
                color: $f;
                background-color: $WebGrn;
            }
        }
    }
// .item{
    .title-seller {
        width: 100%;
        min-height: 45px;
        border-top: 1px solid $liBorder;
        padding-left: 20px;
        font-size: .8rem;
        a{
            &:hover{
                span{
                    color: $Grn;
                }
                text-decoration: none !important;
            }
        }
        span{
            margin-left: 0;
            margin-right: auto;
            color: #afafaf;
            font-weight: 700;
            font-family: Oxy;
            text-transform: capitalize;
            i{
                font-size: 16px;
                color: $WebGrn;
                padding-right: 6px;
                margin-bottom: 5px;
            }
        }
    }
// }

.fade:not(.show){
    display: none;
}

.productlist{
    .nav-tabs {
        overflow: hidden;
                overflow-x: hidden;
            overflow-x: auto;
            width: 100%;
            white-space: nowrap;
            background: #fff;
            position: relative;
            border-bottom: none;
            .nav-item {
                margin-bottom: -1px;
            }
            .nav-link{
                border: 1px solid transparent;
                border-top-right-radius: .25rem;
                border-top-left-radius: .25rem;
                .active {
                    color: #464a4c;
                    background-color: #fff;
                    border-color: #ddd #ddd #fff;
                }
            }
    }
}
