@import './vars';
#body{
    @media screen and(max-width: $maxMobile) {
        > section{
            padding-top: 50px;
            padding-bottom: 80px;
        }
    }
}
@media screen and(min-width: $maxIpad) {
    .maxIpad{
        display: none;
    }
}
.d-ruby{
    display: ruby !important;
}
.n-b{
    border: none !important;
}
.h-100{
    height: 100%;
}
.w-100{
    height: 100%;
}
.p-0{
    padding: 0 !important;
}
.p-5{
    padding: 5px !important;
}
.p-10{
    padding: 10px !important;
}
.p-15{
    padding: 15px !important;
}
.p-20{
    padding: 20px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pr-6 {
    padding-right: 6px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pr-20 {
    padding-right: 20px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-11{
    margin-top: 11px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mr-15{
    margin-right: 15px !important;
}
.mb-11{
    margin-bottom: 11px !important;
}
.mb-15{
    margin-bottom: 15px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.vc_row{
    transition: opacity 0.5s ease 0s;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

/*** WP_ ***/
.wpb_row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .wpb_row {
        clear: none;
    }
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
.vc_row.spacing-20, 
.row.spacing-20 {
    margin-left: -10px;
    margin-right: -10px;
}
.product-miniature {
    position: relative;
    overflow: hidden;
}
@media screen and(min-width: $minWidth) {
    .vc_col-lg-1, 
    .vc_col-lg-2, 
    .vc_col-lg-3, 
    .vc_col-lg-4, 
    .vc_col-lg-5, 
    .vc_col-lg-6, 
    .vc_col-lg-7, 
    .vc_col-lg-8, 
    .vc_col-lg-9, 
    .vc_col-lg-10, 
    .vc_col-lg-11, 
    .vc_col-lg-12 {
        float: left;
    }
    .vc_col-lg-2 {
        width: 16.66666667%;
    }
    .vc_col-lg-6 {
        width: 50%;
    }
}

.wpb_column{
    &.vc_column_container,
    &.column_container
    {
        z-index: auto;
    }
}
.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
    margin-bottom: 30px;
}
.wpb_single_image 
{
    img {
        height: auto;
        max-width: 100%;
    }
    .wpb_wrapper {
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            display: inline-block;
            width: 150%;
            height: 80%;
            position: absolute;
            right: 32%;
            top: -75%;
            background: rgba(255,255,255,.15);
            -webkit-transform: skewY(-50deg);
            -moz-transform: skewY(-50deg);
            -ms-transform: skewY(-50deg);
            -o-transform: skewY(-50deg);
            transform: skewY(-50deg);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        &:hover::after {
            right: -75%;
            top: 120%;
        }
    }
}

.form-control {
    height: 44px;
    // background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
    border-color: #e9e9e9;
    padding-left: 20px;
    padding-right: 20px;
    @include fontSize(.6);
}

.custom-checkbox {

    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;

    input[type="checkbox"] {
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        + span {
            margin-right: 9px;
            display: inline-block;
            width: 16px;
            height: 16px;
            min-width: 16px;
            vertical-align: middle;
            cursor: pointer;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            border: 1px solid #dbdbdb;
            background-color: #FFF;
            .checkbox-checked {
                display: none;
                font-size: 1.4rem;
                color: #666;
            }
        }
        
    }
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.form-footer .btn.btn-primary {
    background: #222;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 43px;
        padding-right: 43px;
        padding-left: 43px;
    font-size: 1.1rem;
    font-weight: 700;
}

.fade{
    opacity: 0;
    @include opacityTrans(.15);
}
.modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    @include filter(alpha(opacity=100));
    @include opacity();
}
.modal.fade {
    text-align: center;
    line-height: 100vh;
    height: 100vh;
    
    .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
        -webkit-transform: translate(0,-25%);
        -o-transform: translate(0,-25%);
        transform: translate(0,-25%);
    }
    .modal-dialog {
        line-height: initial;
        margin: 20px;
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
        display: inline-block;
        
        vertical-align: middle;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}

.modal-backdrop{
    background-color: $WB !important;
}

.btn.btn-primary{
    box-shadow: 0 4px 3px -1px #105caa91;
}

.display_nav1_link {
    display: table-cell;
    padding: 0 5px;
}

@media screen and(max-width:991){
    .nov-megamenu .menu > li {
        padding: 0 12px;
    }
}

.canvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $overlayZ;
    width: 0;
    height: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: width 0s .5s,height,0s .5s,opacity .5s 0s;
    background: rgba(0,0,0,.5);
    
}
.toggleable{
    display: none;
}

.withOpacity{
    opacity: .6;
  }
  .show-sub {

    top: 18px;
    &::before{
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: $HeaderBar_with_Op;
        background-position: 0 -15px;
        position: relative;
        float: $textRight;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        
    }
}
  .show-sub {
    position: absolute;
    right: 25px;
    display: block !important;
    top: 11px;
    text-align: center;
    cursor: pointer;
    
    @media screen and (min-width: $minIpad10Pro){
        display: none !important;
    }
    @media screen and (max-width: $maxIpad){
        right: 15px;
        top: 17px;
    }
    @media screen and (max-width: $maxMobile){
        top: 20px;
        right: 20px;
    }
}
.openMenu .show-sub{
    &::before{
        background-position-y: 30px;
    }
}

/*** HOME TOP SLIDER  */

 .carouselTop {
   .carousel-fade{

        .carousel-indicators{
        li{
          height: 20px;
          width: 20px;
          border-radius: 50%;
            &.active{
                background-color: $HeaderBar_with_Op !important;           
            } 
        }
      }
    }   
  }
.hidden-md{
    @media screen and(max-width:$ipad10Pro) {
        display: none;
    }
}

.custom_heading h2 {
    margin-bottom: 0;
}

.image-cover,
.image-back{
    max-height: 150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80px;
    border: none;
        
    
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    transition: all 400ms ease-in-out 0s;
}