      /** FONT FAMILY NAME CSS **/

      
  /********  *******  ********/

  $textAlign: left;
  $textRight: right;
  $b: #000;
  $f: #FFF;
  $WB: #4449;
  $HeaderBar_Co: #105caa;
  $Grn: #42b983;
  $WebGrn: #49ad00;
  $HeaderBar_with_Op:#105caac7;
  $HeaderBottom_Co:rgba(0,0,0,.12);

  $liBorder: #e8e8e8;

  $Orenge:#FFA800;
  $rate: #f7bc3d;

  $subColor: #acacac;

  $btnShadow: 0 2px 2px 0px #1116;

  $m10 : 10;
  $fsz:0.8rem;
  
  // zIndexs
  $headerZ: 999;
  $overlayZ: 1000;
  $topMenuZ: 10000;

  $popFont: "Poppins",sans-serif;
  /* ########## START MEDIA QUERY ########## */

  $small: 300px;
  $minMobile: 360px;
  $maxMinMobile : 480;
  $mobile: 740px;
  $maxMobile: 767px;
  $minIpad: 768px;
  $ipad: 1024px;
  $mxIpad:991px;
  $maxIpad:992px;
  $minIpad10Pro: 834px;
  $ipad10Pro: 1112px;
  $ipadPro: 1366px;

  $minWidth: 1200px;

  /* ########## END MEDIA QUERY ########## */

  /* ########## START MIXINs FUNCTIONS ########## */

    @mixin transform ($m: none) {
      -webkit-transform: $m !important;
      -moz-transform: $m !important;
      -ms-transform: $m !important;
      -o-transform: $m !important;
      transform: $m !important; 
    }
    @mixin transition ($s: 0.5,$move: ease-in-out) {
      -webkit-transition: all $s+s $move !important;
      -moz-transition: all $s+s $move !important;
      -ms-transition: all $s+s $move !important;
      -o-transition: all $s+s $move !important;
      transition: all $s+s $move !important; 
    }
    @mixin opacity ($p: 1) {
      -webkit-opacity: $p !important;
      -moz-opacity: $p !important;
      -ms-opacity: $p !important;
      -o-opacity: $p !important;
      opacity: $p !important; 
    }
    @mixin opacityTrans($s:.5) {
      -webkit-transition: opacity $s+s linear;
      -o-transition: opacity $s+s linear;
      transition: opacity $s+s linear;
    }
    @mixin shadow ($shadow: 0 5px 15px rgba(0,0,0,.3)){
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
      -o-box-shadow: $shadow;
      box-shadow: $shadow;
    }
    @mixin filter ($filter: none) {
      -webkit-filter: $filter !important;
      -ms-filter: $filter !important;
      filter: $filter !important; 
    }
    @mixin fontSize($size : 0.8) {
      font-size: $size+rem !important;
    }
    @mixin MIcon($icon,$fz:1) {
      font-family: "Material Icons";
      content: $icon;
      @include fontSize($fz);
      text-rendering: auto;
      position: relative;
      display: inherit;
    }
    
  /* ########## END MIXINs FUNCTIONS ########## */

  /* ########## START IMAEGES AND ICONS ########## */
  @function SVGPath($svg) {
    @return url("../../../assets/svg/"+$svg);
  }

  @function IMGPath($img) {
    @return url("../../../assets/images/"+$img);
  }
  
  @function MenuIconPath($icon) {
    @return SVGPath("menu/"+$icon);
  }
  
  $groupIcon: SVGPath("group-icon.png");
  $cartIcon: SVGPath("cart-icon.png");
  $menuIcon: SVGPath(""); 

  /* ########## END IMAEGES AND ICONS ########## */

  /* ########## START PLACE HOLDERS ########## */
  %queryCONTAINER {
    @media screen and (min-width: $minWidth) {
        width: 1800px !important;
        max-width: 100% !important;
    }
  }
  %maxMobile{
    @media screen and (max-width: 767px){
      display: none !important;
    }
  }

  %activeMenu{
    @include transform(translateX(0));
    visibility: visible;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    @include opacity(1);
  }
  %activeVerticalmenu{
    left: 0;
    visibility: visible;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    @include opacity(1);
  }

/* ########## END PLACE HOLDERS ########## */
